body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 44px;
    padding: 15px;
}

main {
    display: block;
}

.header {
    height: auto;
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    min-height: 60px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.publications {
    padding: 0 25px;
}

.row {
    text-align: center;
}

.col {
    padding: 10px 20px;
}

.img-container {
    height: auto;
}

.fixed-top {
    position: sticky;
    top: 0;
}

.carousel {
    width: 50%;
    margin: 3% auto;
}

footer {
    height: 50px;
    padding: 20px;
    font-size: 0.7rem;
    color: aliceblue;
    text-align: center;
}